<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register influencer</title>
</head>

<body>
    <h1>To Upload Image on mongoDB</h1>
    <hr>
    <div>
        <form action="/api/influencers" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Full Name</label>
                <input type="text" id="name" placeholder="Fullname" name="fullName" required>
            </div>
            <div>
                <label for="desc">Email</label>
                <input id="email" name="email" placeholder="email" required>
            </div>
            <div>
                <label for="desc">Password</label>
                <input id="password" name="password" placeholder="password" required>
            </div>
            <div>
                <label for="profilePhoto">Profile photo</label>
                <input type="file" id="profilePhoto" name="profilePhoto" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <hr>

    </div>
</body>

</html>