<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video streaming</title>
    <style>
        body {
            display: grid;
            place-items: center;
        }
    </style>
</head>

<body>
    <div>
        <video id="videoPlayer" width="50%" controls autoplay="true">
            <source src="/api/influencers/videos/4baeb6d65e25821d602a6071150172bb.mp4/stream" />
        </video>
        <a href="/api/influencers/videos/4baeb6d65e25821d602a6071150172bb.mp4/download" download>Download</a>
    </div>


</body>

</html>